node_modules/
npm-debug.log
yarn-error.log

logs/
*.log
*.log.*

jspm_packages/
bower_components/

dist/
build/

.env

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
Thumbs.db

*.swp
*.bak
*.tmp